#favoriteCard {
    background-color: beige;
    position: relative;
    min-height: 350px;

    .favoriteCard_img {
        width: 200px;
        height: 200px;
        position: absolute;
    }

    .favoriteCard_title {
        position: absolute;
        left: 240px;
        top: 0px;
        font-size: 18px;
        font-weight: 600;
    }

    .favoriteCard_description {
        position: absolute;
        left: 240px;
        top: 60px;
        font-size: 14px;
    }

    .favoriteCard_extraDesc1 {
        position: absolute;
        left: 240px;
        top: 130px;
        font-size: 12px;
        font-style: italic;
    }

    .favoriteCard_ingridients {
        position: absolute;
        top: 210px;
    }

    .favoriteCard_button {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    .favoriteCard_rating {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 50px;
        right: 10px;
    }

    .favoriteCard_StartCooking_button {
        position: absolute;
        bottom: 5px;
        width: 170px;
        left: calc(50% - 170px / 2);
    }
}

#favoriteCard:hover {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
}
