.ProductList {
    margin-top: 50px;

    .filterPanel {
        width: 700px;
        height: 70px;
        margin-left: calc(50% - 700px / 2);
        display: flex;
        justify-content: space-around;
        align-items: center;

        .filterBtns {
            width: 150px;
        }
    }

    .ProductItem {
        background-color: beige;
        position: relative;
        min-height: 350px;
        padding: 16px;

        .ProductItem_img {
            width: 200px;
            height: 200px;
            position: absolute;
        }

        .ProductItem_title {
            position: absolute;
            left: 240px;
            top: 0px;
            font-size: 18px;
            font-weight: 600;
        }

        .ProductItem_category {
            position: absolute;
            left: 240px;
            top: 45px;
            font-size: 15px;

            span {
                font-style: italic;
                font-weight: 600;
                color: rgb(139, 139, 241);
                text-decoration: underline;
            }
        }

        .ProductItem_description {
            position: absolute;
            left: 240px;
            top: 90px;
            font-size: 14px;
        }

        .ProductItem_extraDesc1 {
            position: absolute;
            left: 240px;
            top: 160px;
            font-size: 12px;
            font-style: italic;
        }

        .ProductItem_ingridients {
            position: absolute;
            top: 210px;
        }

        .ProductItem_button {
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
    }

    .ProductItem:hover {
        box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
    }
}
